numpy
matplotlib
pandas
scikit-learn
scipy
jupyterlab
ipython
pyarrow
tqdm

janome
ginza
ja_ginza
nagisa # Windowsだと上手く行かないかも。WSL推奨

# development
flake8
black
flake8-bugbear

--index-url https://download.pytorch.org/whl/cpu
torch
torchtext